<section class="popup popup_avatar">
  <div class="popup__container popup__avatar">
    <h2 class="popup__title">Обновить аватар</h2>
    <form class="popup__form" name="popup_avatar" novalidate>
      <input
        name="link"
        type="url"
        class="popup__input popup__input_place_url popup__input_type_error"
        id="placeAvatar-input"
        placeholder="Ссылка на картинку"
        required
      />
      <span id="placeAvatar-input-error" class="popup__input-error"></span>
      <button type="submit" class="popup__button popup__add-avatar" >
        Сохранить
      </button>
    </form>
    <button (click)="onNoClick()" type="button" class="popup__close"></button>
  </div>
</section>
