<main class="main">
  <section class="profile">
    <div class="profile__avatar-wrapper">
      <img [src]="url" alt="Изображение профиля" class="profile__avatar" />
      <button
        (click)="openAvatar()"
        type="button"
        class="profile__avatar-edit-button"
      ></button>
    </div>
    <div class="profile__container">
      <div class="profile__container-info">
        <h1 class="profile__container-title">{{ name }}</h1>
        <button (click)="openUserInfo()" class="profile__container-edit" type="button"></button>
      </div>
      <p class="profile__container-subtitle">{{ about }}</p>
    </div>
    <button
      class="profile__container-add"
      type="button"
      (click)="openCard()"
    ></button>
  </section>
  <section class="elements">
    <div *ngFor="let list of lists" class="element">
      <button (click)="deleteCard()" class="element__trash" type="button"></button>
      <img [src]="list.image"  class="element__image" alt="картинка" />
      <div class="element__group">
        <h2 class="element__group-subtitle">{{list.title}}</h2>
        <div class="elements__like-wrapper">
          <button
            (click)="likeEvent()"
            class="element__group-like"
            type="button"
          ></button>
          <span class="elements__like-count"></span>
        </div>
      </div>
    </div>
  </section>
</main>
